
// COLORS

$color-primary: #e11b4e;
$color-primary-light: #e61b4f;
$color-primary-dark: #560c23;

$color-primary-dark-2: #ac1142;

$color-grey-1: #f1ebdd;
$color-grey-2: #e0e0e0;



$color-white: #ffffff;


$color-dark-1: #393939;

$color-black: #000000;

$color-green-1: #388E3C;



// GRID SYSTEM

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;