// .btn {

//     &:link,
//     &:visited {
//         text-decoration: none;
//         color: $color-grey;
//         padding: 10px 20px;
//         border: 1px solid $color-grey;
//         display: inline-block;
//         border-radius: 500px;
//         text-transform: uppercase;
//         font-weight: 400;
//         transition: all 0.4s;

//     }

//     &:hover {
//         color: $color-grey-dark;
//         background-color: $color-primary-dark;
//         border-color: $color-grey;
//     }

// }

// .btn--filled {

//     &:link,
//     &:visited {
//         text-decoration: none;
//         color: $color-grey;
//         background-color: $color-primary-dark;
//         padding: 10px 20px;
//         border: 1px solid $color-primary-dark;
//         display: inline-block;
//         border-radius: 500px;
//         text-transform: uppercase;
//         font-weight: 400;
//         transition: all 0.4s;
//         font-size: 18px;

//     }

//     &:hover {
//         background-color: rgba(96, 96, 96, 0.2);
//         border-color: $color-primary;
//         border-color: rgba(96, 96, 96, 0.2);
//     }

// }

// .btn--filled {

//     &:link,
//     &:visited {
//         text-decoration: none;
//         color: $color-grey;
//         background-color: $color-primary-dark;
//         padding: 10px 20px;
//         border: 1px solid $color-primary-dark;
//         display: inline-block;
//         border-radius: 500px;
//         text-transform: uppercase;
//         font-weight: 400;
//         transition: all 0.4s;
//         font-size: 18px;

//     }

//     &:hover {
//         background-color: rgba(96, 96, 96, 0.2);
//         border-color: $color-primary;
//         border-color: rgba(96, 96, 96, 0.2);
//     }

// }

// .btn--animated {
//     &:link {
//         animation-name: fadeFromBottom;
//         animation-duration: 2s;
//     }

// }

.btn {
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    overflow: hidden;
    cursor: pointer;
    outline: none;

    
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        transform: translate(-50%,-50%) scale(40);
        background-color: rgba($color-grey-2, 0.4);
        opacity: 0;
        animation-timing-function: cubic-bezier(0,1.13,0,.98);
        transition: transform 1s;
        z-index: 10;
    }

    &:active {


        &::after {
            transform: translate(-50%,-50%) scale(92);
            opacity: 1;
        }
    }
    
    &--red {
        background-color: $color-primary-light;
        color: $color-white;
        transition: all;

        
        &:hover {
            background-color: rgba($color-primary-light, 0.8);
        }
    }
}
