
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    // font-family: 'Concert One', sans-serif;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: $color-dark-1;
    font-size: 10px;
    background-color: $color-white;
}
