
*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    // font-family: 'Concert One', sans-serif;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: $color-dark-1;
    font-size: 62.5%;
    background-color: $color-white;

    @include addMediaQuery(laptop) {
        font-size: 60.5%;

    }
    
}
